@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.sessão{
    height: 100vh;
}

main {
        font-family: 'Open Sans', sans-serif;
      }
.titulo{
    font-family:  'Montserrat', sans-serif;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
#cabeçalho>h1{
      font-size: 13vw;
      margin: 0;
}
#cabeçalho>p {
    font-size: 1.5vw;
}
#botaocad{
    width: 80%;
    height: auto;
    padding: 15px 80px;
    border-radius: 10px;
    background-color: white;
}
.botão{
    font-family:'Open Sans', sans-serif;
}


#listadesc span {
    display: block;
}
#descrição {
    display: grid;
    gap: 20px;
    justify-content: left;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
}
